html {
  font-family: 'Quicksand', sans-serif;
  background-color: blanchedalmond;
}
a:hover {
  color: black;
  font-weight: bold;
}
.home-text {
  text-shadow: 2px 2px black;
}
#api-link{
  font-weight: bold;
}
